**DAA PERTEMUAN 2**

---

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
h = a + b

print(h)

[1, 2, 3, 4, 5, 6]

Agar dapat menjumlahkan isi dari dua array, dapat menggunakan fungsi manual seperti di bawah:

In [ ]:
# Function to add each data in two equal length arrays (1 dimensional array as of now)
def add(c, d):
    result = []
    for first, second in zip(c, d):
        result.append(first + second)
    return result


# Arrays to be used for demonstration
a = [1, 2, 3]
b = [4, 5, 6]

h = add(a, b)

print(h)

[5, 7, 9]

Selain menggunakan fungsi manual, cara lain dalam mengurus array adalah dengan Numpy:

In [ ]:
import numpy as np

# Membuat array
nilai_siswa = np.array([85, 55, 40, 90])

# Mengakses data pada array
print(nilai_siswa[3])

90

# Cara mengecek versi Numpy (Ini besar)
## Ini kurang besar
### Ini kecil
---

In [ ]:
print(np.__version__)

1.23.5

In [ ]:
# Latihan

print('Hello, World! \nNama saya Bang Cock \nNIM saya 0000000001')

Hello, World!
Nama saya Bang Cock
NIM saya 0000000001

In [ ]:
if 5 > 2:
  print('Five is greater than two!')

Five is greater than two!

In [ ]:
x = 5
y = 'John'
print(x, '\n', y)

5
 John

In [ ]:
x = 4
x = 'Sally'
print(x)

Sally

In [ ]:
def getfirst(a):
  return(a[0])

def getsecond(a):
  return(a[1])

def getlast(a):
  return(a[len(a)-1])

R = [1, 2, 3, 4, 5, 6, 7, 8]
print(getfirst(R), '\n', getsecond(R), '\n', getlast(R))

1
 2
 8

In [ ]:
def getsum(a):
    s = 0
    for item in a:
        s += item
    return s
print(getsum([1,2,3,4,5]))

15

In [ ]:
def getprod(a):
  p = 1
  for item in a:
    p *= item
  return p

print(getprod([2,3,5,8]))

240

In [ ]:
def getdiv(a):
  d = a[0]
  for item in a[1: ]:
      d /= item
  return d

print(getdiv([8,2,2]))

2.0